.projects {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 50px;
}

.carousel-item {
    transition: all 0.3s ease-in-out;
    filter: brightness(50%);
    margin: 0 auto;
}

.carousel-item:hover {
    filter: brightness(100%);
}



.carousel-control-prev,
.carousel-control-next {
    width: 3rem;
    height: 3rem;
    filter: invert(1);
    top: 50%;
    background-color: #000000;
    border-color: #ffffff;
    border-radius: 1rem;
}

.carousel-control-prev {
    left: 1rem;
}

.carousel-control-next {
    right: 1rem;
}

.carousel-caption {
    text-align: left;
}

.carousel-caption h3 {
    margin-top: 0;
}

.carousel-caption p {
    margin-bottom: 0;
}


.github-icon {
    fill: #5600cd;
    background-color: rgba(24, 8, 8, 0.844);
    border-radius: 90%;
    font-size: 4rem;
    margin: 1rem 0;
    display: block;
    text-align: center;
    animation: pulse 2s ease-in-out infinite;
}


@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}