.projects {
    background-color: transparent;
    color: #ffffff;
    padding: 50px 0;
    text-align: center;
}

.carousel-inner {
    border-radius: 1rem;
    border: solid 1px;
}

.carousel {
    padding: 1rem;
}

.carousel-item {
    transition: all 0.3s ease-in-out;
    filter: brightness(50%);
    margin: 0 auto;
}

.carousel-item:hover {
    filter: brightness(100%);
}

.carousel-control-prev,
.carousel-control-next {
    width: 3rem;
    height: 3rem;
    filter: invert(1);
    top: 50%;
    background-color: #000000;
    border-color: #ffffff;
    border-radius: 1rem;
}

.carousel-control-prev {
    left: 1.5rem;
}

.carousel-control-next {
    right: 1.5rem;
}

.carousel-caption {
    text-align: left;
    width: fit-content;
    background-color: rgba(7, 26, 20, 0.615);
    padding: 1rem;
    border-radius: 1rem;
}

.carousel-caption p {
    margin-bottom: 0;
}

.github-icon {
    fill: #7707a6;
    background-color: rgba(217, 216, 216, 0.121);
    border-radius: 90%;
    font-size: 4rem;
    margin: 1rem 0;
    display: block;
    text-align: center;
    animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@media (max-width: 576px) {
    .carousel-control-prev,
    .carousel-control-next {
        width: 2rem;
        height: 2rem;
        font-size: 1.5rem;
    }

    .github-icon {
        font-size: 1.5rem;
    }

    .carousel-caption h3 {
        font-size: 1rem;
    }
}
