@import url('https://fonts.googleapis.com/css2?family=Karma:wght@600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Karma', serif;
    font-size: 1rem;
    color: white;
    height: 100vh;
    background-color: black;

}


.image-wrapper,
.info-wrapper {
    background-color: black;
}

.image-wrapper {
    text-align: center;
    background-color: black;
}

.image-wrapper img {
    border-radius: 1rem;
    animation: fadeIn 5s;
}

.hobbies {
    background-color: white;
    color: black;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}