.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  flex-wrap: wrap;
  height: 20svh;

  .navbar-title {
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

  .navbar-links {
    display: flex;
    gap: 15px;

    a {
      color: #333;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;

    .navbar-links {
      margin-top: 10px;
    }
  }
}
