// Colors
$button-color: #4caf50;
$arrow-color: #f0f0f0;
$text-color: white;
$canvas-color: hsl(0, 8%, 53%);
$background-color: black;

// Fonts
$font-family-base: Arial, sans-serif;

// Spacing
$padding-base: 16px;
$margin-base: 16px;
