/* mobile devices */

@media screen and (max-width: 480px) {
    .image-blur {
        filter: blur(35px);
        width: 64%;
    }
    .image-wrapper {
        position: absolute;
        width: 177%;
        left: -60%;
    }
    .right-head {
        left: 50%;
        font-size: 70%;
    }
}

/* ipads tablets large phones */
@media screen and (min-width: 480px) and (max-width: 768px) {
    .right-head {
        top: 50%;
        left: 53%;
        transform: translate(-50%, -50%);
    }
    .image-blur {
        filter: blur(30px);
        width: 60%;
    }
    .image-wrapper {
        position: absolute;
        width: 135%;
        left: -35%;
    }
}
