.links-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

.links-container a {
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;

  &:hover {
    background-color: #a5bcd4;
    color: white;
  }
}
.children {
  height: 75vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
